* {
    box-sizing: border-box;
}
html, body{
    min-height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#container {
    min-height: 100vh;
}

.classified-cont {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.flex-container.col {
  flex-direction: column;
}

.flex-container.row {
  flex-direction: row;
}
/* header */

header {
    background-color: #ef0072;
    color: #fafafa;
    flex: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    height: 50px;
    flex-wrap: wrap;
}

nav .left {
    flex-basis: 60px;
}

.navbar-brand {
    font-size: 1.4em;
    font-weight: 300;
}

nav .right{
    display: flex;
    flex-basis: 120px;
    justify-content: flex-end;
    font-weight: 300;
}

nav .right a:nth-of-type(2){
  margin-left: 20px;
}

nav .right a {
  margin: 0 10px;
}

nav a {
    text-decoration: none;
    color:#fafafa;
}


/**** filters ****/

.c-filters form {
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.filter{
    flex-basis: 220px;
}

.f-type {
    display: flex;
    flex-direction: column;
    height: 100%;
}

fieldset {
    border: none;
}

.filter h3 {
    margin: 0;
    font-weight: 500;
    margin-bottom: 8px;
}

.f-info > fieldset:first-of-type {
    padding-bottom: 0;
}


.f-price input, .f-info input {
    width:50%;
    padding: 5px;
}

.f-info select{
    width: 100%;
    padding: 3px;
}


/* checkboxes  */

.check-cont {
    display: block;
    font-weight: 300;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.check-cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #ef0072;
}

.check-cont:hover input ~ .checkmark {
    background-color: #eee;
}
.check-cont input:checked ~ .checkmark {
    background-color: #ef0072;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.check-cont input:checked ~ .checkmark:after {
    display: block;
}
.check-cont .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


textarea{
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

.sekcja1 input{
  float:left;
}
.sekcja0{
  visibility: hidden;
  position: absolute;
  left: -1000px;
  top: -1050px;
}

.sekcja4 input{
  float:left;
}
.sekcja2 input{
  opacity: 0;
}


/**** main ****/

.main {
    flex: auto;
    display: flex;
    flex-direction: row;
}

.c-list {
    flex: 5;
    overflow-y: scroll;
}

.c-map{
    flex:7
}

.map {
    width: 100%;
    height: 100%;
    min-height: 300px;
}
.addmap {
    width: 62%;
    height: 100%;
    min-height: 300px;
}


/**** list ****/

.group-list {
    flex-direction: column;
    padding-left: 0;
    margin: 0 auto;
    height: 0;
}

.group-list-item:hover {background-color: #fdfdfd}
.group-list-item {
    display: block;
    padding: .80rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #fafafa;
    cursor: pointer;
    /* rgba(0,0,0,.125); */
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.group-list-item .description{
  padding: 0;
}

.group-list-item h5 {
    margin: 0;
    font-size: 1.25rem;
    display: inline-block;
}

.group-list-item .type {
    font-weight: 200;
    font-size: 0.9em;
    color: #808080;
}


.Dodajta
{
  letter-spacing: 5px;
  font-size: 15px;
}


.Dodajta-form {
  position: fixed; /* or absolute */
  left: 50%;
  z-index: 1;
  background: #FFFFFF;
  max-width: 750px;
  margin-left: 150px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.Dodajta-form label {
  width: 100%;
  display: block;
  text-align: center;
}

.Dodajta-form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 20px 0 15px 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}




.Dodajta-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #D50066;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.Dodajta-form button:hover,.form button:active,.form button:focus {
  background: #AB0051;
}
}

/* login */

.classified-sign{
  margin: 0;
     padding: 0;
     display: flex;
     flex: 1;
     flex-direction: column;
     height: 100%;
     justify-content: center;
}
.logH
{
  margin-top: 15px;
  letter-spacing: 5px;
  font-size: 15px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form label {
  width: 100%;
  display: block;
  text-align: center;
}

.login-form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 20px 0 15px 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #D50066;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-form button:hover,.form button:active,.form button:focus {
  background: #AB0051;
}
/* registerForm */

.reg-form {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.reg-form label {
  width: 100%;
  display: block;
  text-align: center;
}

.reg-form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 15px 0 15px 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 11px;
}

.reg-form button {
  outline: 0;
  background: #D50066;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  cursor: pointer;
}
.reg-form button:hover,.form button:active,.form button:focus {
  background: #AB0051;
}
.Fbbutton button:hover,.form button:active,.form button:focus {
  background: #AB0051;
}
.Fbbutton button{
  outline: 0;
  background: #D50066;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  cursor: pointer;

}


/* show */
h1{
  text-align: center;
}

.table-info {
  min-width: 75%;
  margin: 0 auto;
}

.table-info td {
  padding: 7px;
}

.description {
  padding: 20px;
}

a{
  color: initial;
}
