* {
    box-sizing: border-box;
}
html, body{
  min-height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.main-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  flex-direction: column;
}

.main-container.row {
  flex-direction: row;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 93%;
  width: 100%;
}

#container {
  min-height: 100vh;
}

.classified-cont {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  /* height: 100%;; */
}
.main {
  height: 100%;
}

.col {
  width: 20%;
}

.col-md-50{
  width:50%;
}

.col-md-30{
  width:30%;
}

.col-md-70{
  width:70%;
}

/* header */

header {
    background-color: #ef0072;
    color: #fafafa;
    flex: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    height: 50px;
    flex-wrap: wrap;
}

nav .left {
    flex-basis: 60px;
}

.navbar-brand {
    font-size: 1.4em;
    font-weight: 300;
}

nav .right{
    cursor: pointer;
    display: flex;
    flex-basis: 120px;
    justify-content: flex-end;
    font-weight: 300;
}

nav .right a:nth-of-type(2){
  margin-left: 20px;
}

nav .right a {
  margin: 0 10px;
}

nav a {
    text-decoration: none;
    color:#fafafa;
}


/**** filters ****/

.c-filters form {
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.filter{
    flex-basis: 220px;
}

.f-type {
    display: flex;
    flex-direction: column;
    height: 100%;
}

fieldset {
    border: none;
}

.filter h3 {
    margin: 0;
    font-weight: 500;
    margin-bottom: 8px;
}

.f-info > fieldset:first-of-type {
    padding-bottom: 0;
}


.f-price input, .f-info input {
    width:50%;
    padding: 5px;
}

.f-info select{
    width: 100%;
    padding: 3px;
}

/* checkboxes  */

.check-cont {
    display: block;
    font-weight: 300;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.check-cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #ef0072;
}

.check-cont:hover input ~ .checkmark {
    background-color: #eee;
}
.check-cont input:checked ~ .checkmark {
    background-color: #ef0072;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check-cont input:checked ~ .checkmark:after {
  display: block;
}
.check-cont .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.c-list {
  overflow-y: scroll;
}

.c-map{
  flex:9
}

.map {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

/**** list ****/

.group-list {
    flex-direction: column;
    padding-left: 0;
    margin: 0 auto;
    height: 0;
}

.group-list-item:hover {background-color: #fdfdfd}
.group-list-item {
    display: block;
    padding: .80rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #fafafa;
    cursor: pointer;
    /* rgba(0,0,0,.125); */
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.group-list-item .description{
  padding: 0;
}

.group-list-item h5 {
    margin: 0;
    font-size: 1.25rem;
    display: inline-block;
}

.group-list-item .type {
    font-weight: 200;
    font-size: 0.9em;
    color: #808080;
}


/* login */

.classified-cont.just-center{
  justify-content: center;
}

.popup {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login {
  font-family: "Raleway", sans-serif;
}

.login h2, .login a{
  font-weight: 500;
}

.login label {
  width: 100%;
  display: block;
  text-align: center;
}

.login input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 10px auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: left;
}

.login button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #D50066;
  width: 100%;
  border: 0;
  padding: 12px;
  color: #FFFFFF;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  font-weight: 300;
}

.fbstyle button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3B5998;
  width: 100%;
  border: 0;
  padding: 12px;
  color: #FFFFFF;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  font-weight: 300;
}
.fbstyle button:hover {
  background: #2f487a;
}
.login button:hover,.form button:active,.form button:focus {
  background: #AB0051;
}

.login .form-group:last-of-type{
  margin-top: 20px;
}

.Fbbutton button{
  outline: 0;
  background: #D50066;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  cursor: pointer;
}

/* show */
h1{
  text-align: center;
}

.description {
  padding: 20px;
}

a{
  color: initial;
}

.googleadd_adress h2 {
  margin-bottom: 10px;
}

.googleadd_adress input{
  width: 100%;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.flex-container .mojdrop{
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: lightblue;
  margin-top:15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.flex-container .mojdrop:hover{
  background-color: #6666ff;
}

.add-offer {
  margin-left: 0px;
  margin-top: 0;
  padding: 20px;
}

.add-map {
  padding: 20px;
}

.add-offer input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 10px 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.add-offer textarea{
	width: 100%;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}

.add-offer button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #D50066;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.add-offer h2{
  margin-bottom: 0;
}

.add-offer input[type="radio"]{
  margin-right: 5px;
  display: inline;
  outline: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.add-offer button:hover,.form button:active,.form button:focus {
  background: #AB0051;
}

.addmap {
  width: 100%;
  height: 85%;
  min-height: 300px;
  z-index: 0;
  margin-top: 15px;
  padding: 0px;
  position: relative;
}

/* INFO */

.info {
  padding: 20px;
  font-weight: 300;
}

.info .table-info{
  border-collapse: collapse;
  width: 100%;
  border-radius: 8px;;
  overflow: hidden;
}

.info .table-info tr{
  padding: 5px;
}

tr td:first-of-type {
  font-weight: 400;
}

h3 {
  font-weight: 500;
}

.info .table-info td{
  outline: 0;
  background: #fafafa;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-bottom: 2px solid white;
}

.classfield-description{
  padding: 20px;
  background: #fafafa;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  font-weight: 300;
}

.classified-cont .cla-des-tit{

}

.classified-cont .classfield-images{
  position: absolute;
  top: 60%;
  margin-left: 2.5%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.info-heading h1 {
  display: inline-block;
  width: 100%;
  font-weight: 500;
}


.info-heading button{
    position: absolute;
    right:20px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #D50066;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
